.page-wrapper__catalog {
  flex-direction: column;
}

.catalog {
  padding-top: 45px;
}

.catalog__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.catalog__group {
  display: flex;
  justify-content: space-between;
}

.catalog__cart {
  width: 280px;
  margin-top: 39px;
  border: 1px solid rgba(225, 225, 225, 1);
}

.cart__image {
  width: 278px;
}

.cart__wrapper {
  margin: 12px 24px 24px;
}

.cart__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.cart__footer {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  width: 230px;

  &--price-past {
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
  }

  &--price-current {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }

  &--button {
    padding: 0;
    width: 118px;
    color:rgba(244, 246, 249, 1);
    background: rgba(56, 46, 43, 1);
  }
}
